<div class="container">
    <ul class="list-group">
      <% for (var i=0; i < posts.length ; i++){ %>
        <li class="list-group-item">
          <p>글번호 : <%= posts[i]._id %></p>
          <h4>할일 제목 : <%= posts[i].제목 %></h4>
          <p>할일 마감날짜 : <%= posts[i].날짜 %></p>
          <button class="btn btn-danger delete" data-id="<%= posts[i]._id %>">삭제</button>
          <button class="btn btn-secondary chat" data-id="<%= posts[i].작성자 %>">채팅하기</button>
        </li>
        <% } %>
    </ul>
</div>


<script>
    $('.chat').click(function(e){
      var _id = e.target.dataset.id;
      $.post('/chatroom', {당한사람id : _id})
      .then(()=>{
        console.log('채팅방 게시물 생성완료')
      })
    });
</script>